In [1]:
import pandas as pd

In [2]:
# url = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/" 
# url = "https://www.ss.com/lv/real-estate/homes-summer-residences/riga-region/all/sell/"
url = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/"
# notice how we can specify some parameters in the url

In [3]:
# pandas can do some web scraping as long as there are tables
dfs = pd.read_html(url, header=0) # i know that i want the first row to server for column names
type(dfs)

list

In [4]:
len(dfs) # why list and why such length ?
# well ss.com was made in early 2000s when tables were used for everything

7

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_html.html
# pandas reads tables by default ALL tables on the page

In [5]:
df = dfs[4] # the 5th table on our page has our info
# df = dfs[8] # 9th table for our riga region houses
df.head()

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,Gaišs divistabu dzīvoklis ar lodžiju jaunajā p...,Dārzaugļu 1,2,86,4/6,Jaun.,"1,500 €","129,000 €"
1,NaN,NaN,"Zeme īpašumā. Atsevišķa ieeja, visas ērtības. ...",Cēsu 30,1,30,1/4,P. kara,"1,100 €","33,000 €"
2,NaN,NaN,"Izcila kvalitāte, renovēta māja, jaunas komuni...",Dzirnavu 92,4,133,4/5,Renov.,"2,970 €","395,000 €"
3,NaN,NaN,Tiek pārdots saulains 5-istabu dzīvoklis proje...,Dzirnavu 37,5,179,2/6,Renov.,"2,455 €","439,530 €"
4,NaN,NaN,"Renovētā, saulainā sētas mājā tiek pārdots 4 i...",Čaka 31,4,89,3/5,Renov.,"1,528 €","136,000 €"

In [6]:
df.shape

(30, 10)

In [7]:
df.to_json("center.json")

In [8]:
df.to_excel("center.xlsx")

In [7]:
url2 = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html"

In [8]:
dflist = pd.read_html(url2, header=0)
len(dflist)

7

In [9]:
dflist[4].head() # getting start of 5th table from our 2nd html page

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,Pārdodam vienistabas dzīvokli ar remontu. Izol...,Mastu 6,1,28,1/5,Hrušč.,"1,321 €","37,000 €"
1,NaN,NaN,Īpašnieks pārdod. Ēka atrodas vienā no labākaj...,Raiņa bulv. 3,3,105,6/6,Renov.,"2,100 €","220,500 €"
2,NaN,NaN,Pārdodu mājīgu un siltu 2 istabu dzīvokli ar a...,Vārnu 8,2,50,3/3,P. kara,"2,200 €","109,999 €"
3,NaN,NaN,Ekskluzīvs dzīvoklis jaunajā Parkera projektā....,Valdemāra 41a,3,103,2/7,Jaun.,"2,816 €","290,000 €"
4,NaN,NaN,"Tiek pārdots saulains, mājīgs un skaists 1 ist...",Avotu 4,1,19,4/5,Renov.,"3,316 €","63,000 €"

In [10]:
bigdf = pd.concat([df, dflist[4]]) # concat creates a new dataframe from an iterable! of dataframes
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html
bigdf.head()

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,Īpašnieks pārdod divistabu dzīvokli 5 soļu att...,Matīsa 45,2,45,3/6,P. kara,"2,067 €","93,000 €"
1,NaN,NaN,"Pārdod divistabu dzīvokli Grīziņkalnā, Aleksan...",Čaka 146,2,55,2/5,P. kara,"1,273 €","70,000 €"
2,NaN,NaN,Tiek pārdots 3 istabu dzīvoklis pašā Rīgas cen...,Birznieka-Upīša 29,3,76,3/5,Renov.,"1,776 €","135,000 €"
3,NaN,NaN,"Квартира продается со всей обстановкой, включа...",Vārnu 11,3,120,4/6,Jaun.,"1,625 €","195,000 €"
4,NaN,NaN,Tiek pārdots 3 istabu dzīvoklis “klusajā centr...,Pulkv. Brieža 7,3,80,5/7,P. kara,"2,313 €","185,000 €"

In [11]:
df.shape, dflist[4].shape, bigdf.shape

((30, 10), (30, 10), (60, 10))

In [11]:
bigdf.to_excel("riga_center_60.xlsx")

In [ ]:
# so if we know the last page of

In [ ]:
# Challenge how to automatically get all pages no matter how many ads?
# how to scrape web address for each ad (in case we want to look in to the ad more in depth)